<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="user-scalable=no" />

        <script src="jquery-1.12.0.min.js"></script>
        <script src="socket.io-1.4.5.js"></script>
        
    </head>
    <body>
	<script>
        $(document).ready(function () {
		    var socket = io();
		    socket.emit('tablet', {
                        username: 'as', 
                        message: 'wwwwww'
		    });
		    socket.on('tablet', function (data) {
		        console.log(data);
		    });
        });
        function submit_ans() {
            socket.emit('tablet', {
                username: 'as',
                message: 'wwwwww'
            });
        }
	  </script>
     
	  
    </body>
</html>
